// =================================
//   GAME
// =================================

// Imports
@use '../../base/variables' as *;
@use '../../base/mixins' as *;

.game {
  background-color: $bg-page;
  padding: 2rem 3rem;
  border: 1px solid rgba($bg-brand, 0.5);
  border-radius: 1rem;
  min-height: 400px;
  width: 100%;
  max-width: 680px;
  box-shadow: 0 8px 16px rgba($bg-brand, 0.5);

  &__title {
    @include title($color: $text-accent);
    margin-bottom: 1.5rem;
    text-align: center;
    letter-spacing: 1px;
  }
}
